<!DOCTYPE html>
<html lang="en">

<head>
    <title>Namespace</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@4.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="scripts/main.js" defer></script>
</head>

<body>
    <header>
    </header>
    <div id="app">
        <!--Lägen: 
        random -> när korten 
        -->
        <!-- Visa en spinner medan vi kollar login-status -->
        <div v-if="state.isCheckingLogin">
            <div class="spinner"></div>
        </div>

        <!-- När login-statusen är kontrollerad -->
        <div v-else>
            <!-- Om inte inloggad, visa login-formulär -->
            <div v-if="!state.isLoggedIn && !state.showRegisterForm">
                <h1 class="gradiant-text">NameSpace</h1>
                <form class="login-form" @submit.prevent="login">
                    <input type="text" name="email" placeholder="Användarnamn" required />
                    <input type="password" name="password" placeholder="Lösenord" required />
                    <button type="submit">Logga in</button>
                    <button type="button" @click.prevent="toggleRegisterForm">Registera</button>
                </form>
                <p class="gradiant-text" v-if="state.errorMessage">{{ state.errorMessage }}</p>
            </div>
            <div v-if="!state.isLoggedIn && state.showRegisterForm">
                <h1 class="gradiant-text">NameSpace</h1>
                <form class="register-form" @submit.prevent="register">
                    <input type="text" name="username" placeholder="Användarnamn" required />
                    <input type="email" name="email" placeholder="E-mail" required />
                    <input type="password" name="password" placeholder="Lösenord" required />
                    <input type="password" name="passwordRepeat" placeholder="Lösenord" required />
                    <div id="register-form-buttons-wrapper">
                        <button type="button" @click.prevent="toggleRegisterForm">Gå tillbaka</button>
                        <button type="submit">Registera</button>
                    </div>
                </form>
                <p class="gradiant-text" v-if="state.errorMessage">{{ state.errorMessage }}</p>
            </div>

            <!-- Om inloggad, visa namnplattor -->
            <div id="nameplate-wrapper" v-if="state.isLoggedIn && state.display === Display.CARD">
                

                <div class="stack-wrapper">
                    <!-- Förra kortet, fades ut -->
                    <transition name="nameplate-fade">
                        <div v-if="nameplate.names[nameplate.nextIndex]" class="nameplate"
                            :class="getGenderClass(nameplate.names[nameplate.nextIndex]?.gender)"
                            :key="'old-' + nameplate.nextIndex"
                            :style="nextCardStyle">
                            <h1>{{ nameplate.names[nameplate.nextIndex].name }}</h1>
                            <p>{{ nameplate.names[nameplate.nextIndex].description }}</p>
                            <p>{{ nameplate.names[nameplate.nextIndex].antal }}</p>
                        </div>
                    </transition>

                    <!-- Nuvarande kortet, fades in -->
                    <transition name="nameplate-fade">
                        <div v-if="nameplate.names[nameplate.currentIndex]" class="nameplate nameplate-current"
                            :class="getGenderClass(nameplate.names[nameplate.currentIndex]?.gender)"
                            :key="'current-' + nameplate.currentIndex" 
                            @touchstart="handleSwipe"
                            @touchmove="handleSwipe" 
                            @touchend="handleSwipe" 
                            :style="shouldApplyOffsets ? {
                               transform: 'translate(' + position.offsetX + 'px, ' + position.offsetY + 'px)' +
                                         ' rotate(' + nameplate.rotation + 'deg)' +
                                         ' scale(' + nameplate.scale + ')',
                               opacity: nameplate.opacity
                             } : null">
                            <h1>{{ nameplate.names[nameplate.currentIndex].name }}</h1>
                            <p>{{ nameplate.names[nameplate.currentIndex].description }}</p>
                            <p>{{ nameplate.names[nameplate.currentIndex].antal }}</p>
                            <p v-if="nameplate.names[nameplate.currentIndex].partnerReaction">{{nameplate.names[nameplate.currentIndex].partnerReaction}}</p>
                        </div>
                    </transition>
                </div>
            </div>
            <div id="letter-wheel" v-if="state.isLoggedIn && state.display === Display.MENU">
                <button @click="logout">Logga ut</button>
                <div class="menu">
                    <img src="../resources/svgs/settings-icon.svg" alt="Settings" width="100px"
                    @click.prevent="toggleSubmenu(SubMenu.SETTINGS)"/>
                    <h1 class="gradiant-text"
                    @click.prevent="toggleSubmenu(SubMenu.MAIN)">
                        Name Space
                    </h1>
                    <img src="../resources/svgs/add-partner.svg" alt="Add partner" width="100px"
                    @click.prevent="toggleSubmenu(SubMenu.PARTNER)"/>
                </div>
                <div v-if="state.submenu == SubMenu.MAIN">
                    <div class="range-slider-wrapper">
                        <p class="gradiant-text">Minsta antal med namnet</p>
                        <input
                          type="range"
                          v-model="sliderValue"
                          :min="0"
                          :max="1000"
                          :step="10"
                          class="range-slider"
                        />
                        <p class="gradiant-text">{{ sliderValue }}</p>
                      </div>
    
             
                        <div id="letter-wheel-container" ref="scrollContainer" @scroll="onScroll"
                    >  <div class="ghost-box"></div>
                            <div class="box gradiant-text" v-for="(item, index) in nameQuery.letters" 
                            :key="index"
                            :style="getTransform()"
                            @click="fetchData( index, nameQuery.pagenum, true, sliderValue)">
     
                                    {{item}}
    
                            </div>
                     
                            <div class="ghost-box"></div>
        
                        </div>
                        <button @click="resetDisplay">Go Back</button>
                </div>
                <div v-if="state.submenu == SubMenu.SETTINGS">
                        <p>settings</p>
                </div>
                <div v-if="state.submenu == SubMenu.PARTNER">
                        <p>partner</p>
                        <form class="partner-form register-form" @submit.prevent="sendPartnerRequest">
                            <input type="text" name="partner" placeholder="Användarnamn/E-mail" required />
                                <button type="submit">Skicka partnerförfrågan</button>

                        </form>
                </div>
                </div>
            <div id="" v-if="state.isLoggedIn && state.display === Display.FAVORITES">
                <h1 class="gradiant-text" @click="resetDisplay">Favoriter</h1>
                <div v-if="lists.favorites.length === 0 && !lists.hasFetched.favorites">
                    <div class="spinner"></div>
                </div>
                <div @click="resetDisplay" v-if="lists.favorites.length === 0 && lists.hasFetched.favorites">
                    <p class="gradiant-text">Inga favoriter hittades :(</p>
                </div>

                <!-- När login-statusen är kontrollerad -->
                <div v-else>
                    <div class="list-wrapper">
                        <div class="list-item" v-for="(item, index) in lists.favorites" :key="index"
                            :class="getGenderClass(item?.gender)">
                            <img :src="getGenderIcon(item?.gender)" alt="Gender Icon" width="50px"/>
                            <h3>{{item.name}}</h3>
                            <p>{{item.antal}}</p>
                            <img v-if="item.partnerReaction != null" :src="getReactionSvg(item.partnerReaction)" alt="Partner reaction" width="50px"/>
                        </div>
                    </div>
                </div>
            </div>
                <div id="" v-if="state.isLoggedIn && state.display === Display.DISLIKED">
                    <h1 class="gradiant-text" @click="resetDisplay">Ogillade</h1>
                    <div v-if="lists.disliked.length === 0 && !lists.hasFetched.disliked">
                        <div class="spinner"></div>
                    </div>
                    <div v-if="lists.disliked.length === 0 && lists.hasFetched.disliked" @click="resetDisplay">
                        <p class="gradiant-text">Inga disliked hittades :(</p>
                    </div>
    
                    <!-- När login-statusen är kontrollerad -->
                    <div v-else>
                        <div class="list-wrapper">
                            <div class="list-item" v-for="(item, index) in lists.disliked" :key="index"
                                :class="getGenderClass(item?.gender)"
                                @touchstart="horizontalSwipe($event, index, lists.disliked)"
                                @touchmove="horizontalSwipe($event, index, lists.disliked)"
                                @touchend="horizontalSwipe($event, index, lists.disliked)"
                                >
                                <img :src="getGenderIcon(item?.gender)" alt="Gender Icon" width="50px"/>
                                <h3>{{item.name}}</h3>
                                <p>{{item.antal}}</p>
                                <img v-if="item.partnerReaction != null" :src="getReactionSvg(item.partnerReaction)" alt="Partner reaction" width="50px"/>
                            </div>

                        </div>
                    </div>
                   
                </div>
                <div id="" v-if="state.isLoggedIn && state.display === Display.LIKED">
                    <h1 class="gradiant-text" @click="resetDisplay">Gillade</h1>
                        <div v-if="lists.liked.length === 0 && !lists.hasFetched.liked">
                            <div class="spinner"></div>
                        </div>
                        <div v-if="lists.liked.length === 0 && lists.hasFetched.liked" @click="resetDisplay">
                            <p class="gradiant-text">Inga liked hittades :(</p>
                        </div>
        
                        <!-- När login-statusen är kontrollerad -->
                        <div v-else>
                            <div class="list-wrapper">
                                <div class="list-item" v-for="(item, index) in lists.liked" :key="index"
                                    :class="getGenderClass(item?.gender)">
                                    <img :src="getGenderIcon(item?.gender)" alt="Gender Icon" width="50px"/>
                                    <h3>{{item.name}}</h3>
                                    <p>{{item.antal}}</p>
                                    <img v-if="item.partnerReaction != null" :src="getReactionSvg(item.partnerReaction)" alt="Partner reaction" width="50px"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</body>

</html>